.App {
  text-align: center;
}

.title {
  background-image: linear-gradient(
    90deg,
    rgba(108, 7, 132, 1) 0%,
    rgba(141, 0, 170, 1) 44%,
    rgba(197, 21, 234, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "ExoBlackItalic";
  font-size: 50px;
}
